---
import BaseHead from '../../components/BaseHead.astro';
import Header from '../../components/Header.astro';
import Footer from '../../components/Footer.astro';
import { SITE_TITLE, SITE_DESCRIPTION } from '../../consts';
import { getCollection } from 'astro:content';
import type { AstroComponentFactory } from 'astro/runtime/server/index.js';
import FormattedDate from '../../components/FormattedDate.astro';
import { Image } from 'astro:assets';

const projects = await Promise.all(
	(await getCollection('projects'))
		.sort(
			(a, b) =>
				b.data.originalRelease.valueOf() - a.data.originalRelease.valueOf()
		)
		.map(async (post) => {
			const ret = post as typeof post & { Content: AstroComponentFactory };
			ret.Content = (await post.render()).Content;
			return ret;
		})
);
---

<!doctype html>
<html lang="en">
	<head>
		<BaseHead title={SITE_TITLE} description={SITE_DESCRIPTION} />
		<style>
			.project-image {
				float: right;
			}
			p {
				clear: both;
			}

			hr {
				margin-top:26px;
			}

			h3 {
				margin-bottom: 0px;
			}

			header {
				display: flex;
				align-items: baseline;
			}

			header > :first-child {
				flex-grow: 1;
			}

			header a {
				padding-left: 1rem;
			}
		</style>
	</head>
	<body>
		<Header />
		<main>
				<p>Here are some of the projects I have worked on:</p>
				{
					projects.map((post, i) => {
						return <>
							{ i > 0 ? <hr /> : <></> }
							<section>
								<header>
									<h3>{post.data.name}</h3>
									{ post.data.home ? (
										<a href={post.data.home}>Web</a>
									) : <></> }
									{ post.data.repo ? (
										<a href={post.data.repo}>Repo</a>
									) : <></> }
								</header>
								<p>
									First release:{' '}
									<FormattedDate date={post.data.originalRelease} />
								</p>
								<p>
									{ post.data.heroImage ? (
										<a href={post.data.heroImage.src}>
											<Image
												width={128}
												inferSize
												class="project-image"
												src={post.data.heroImage as any}
												alt={post.data.name}
											/>
										</a>
									) : <></> }
									<post.Content />
								</p>
							</section>
						</>
					})
				}
			
		</main>
		<Footer />
	</body>
</html>
